nav {
    position: fixed;
    top: 20px;      /* afasta do topo */
    left: 40px;     /* afasta da lateral esquerda */
    right: 40px;    /* afasta da lateral direita */
    height: 70px;
    border-radius: 20px;
    background-color: var(--cor-cabecalho);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  

nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--cor-cabecalho);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .logo a{
    font-size: 30px;
    font-weight: 500;
    color: #F2055C;
    text-decoration:none;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}

.nav-bar .nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 500;
    color: var(--cor-preto);
    text-decoration: none;
    padding: 10px;
}

.btn-login{
    background-color: var(--cor-blush);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 35px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.nav-item.active a{
    color: black;
    border-bottom: 3px solid #b4b534;
}
