body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    background-color: var(--cor-musgo);
} 

.container {
    width: 100%;
    max-width: 1100px;
    max-height: 90vh;
}

.login-card {
    display: flex;
    align-items: stretch; 
    overflow: hidden;
    position: relative;
    height: 100%;
}

.card-form {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 40px; 
    color: var(--cor-marrom);
    height: 100%; 
}

.form-group {
    width: 100%;
    margin-bottom: 15px; 
    position: relative;
}

.form-group label {
    display: block;
    font-weight: 500;
    margin-bottom: 3px; 
    font-size: 1.1em;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"] {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box; 
    font-size: 1.1em;
}

.container {
    width: 100%;
    max-width: 1100px;
    height: 90vh; 
}

.login-card {
    background-color: var(--cor-fundo);
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: flex-start; 
    overflow: hidden;
    position: relative; 
    height: 100%; 
}

.card-image {
    flex: 1;
    padding: 20px;
}

.card-image img {
    width: 100%;
    height: 100%; 
    display: block;
    border-radius: 10px;
    object-fit: cover; 
    object-position: center;
}

.card-form {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 60px; 
    color: var(--cor-marrom);
}

.logo-area {
    margin-bottom: 25px;
}

.logo-area img {
    width: 130px; 
    height: auto;
    display: block;
}

.card-form h2 {
    font-size: 2.2em;
    margin-bottom: 30px;
    font-weight: bold;
    color: var(--cor-marrom);
}

.form-group {
    width: 100%;
    margin-bottom: 25px;
}

.form-group label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 1.1em;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"] {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box; 
    font-size: 1.1em;
}

.link-group a {
    width: 100%;
    text-align: right;
    margin-bottom: 30px;
    font-size: 0.9em;
}

.link-group a {
    display: inline;
    text-decoration: none;
    color: var(--cor-link);
    line-height: 1.5;
    font-style: italic;
    margin-left: 10px;
}

.link-group a:hover {
    text-decoration: underline;
}


.login-button {
    width: 100%;
    padding: 15px;
    background-color: var(--cor-marrom);
    color: var(--cor-fundo);
    border: none;
    border-radius: 8px;
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #3b5a45; 
}

@media (max-width: 900px) {
    .login-card {
        flex-direction: column; 
        width: 90%;
    }

    .card-image {
        display: none; 
    }

    .card-form {
        padding: 40px 40px;
    }
}