body {
    margin: 0;
    padding: 0;
    background-image: url('../img/menu/fundo-menu.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: 'Rubik', sans-serif;
}

.logo-area{
    position: absolute;
    margin-bottom: 25px;
    
}

.logo-area img {
    width: 130px; 
    height: auto;
    display: block;
}

.btn-sair {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #5c2b00;
    color: white;
    padding: 10px 22px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
}

.btn-sair:hover {
    background: #7f3a00;
}

.center-area {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.livro {
    position: relative;
    width: 65vw; 
    max-width:1100px;
}

.livro img:not(.seta) {
    width: 100%;
    height: auto;     
    display: block;
}

.btn-comecar-rima,
.btn-comecar-cartas {
    position: absolute;
    bottom: 60px;
    background: #00c56a;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-comecar-rima:hover,
.btn-comecar-cartas:hover {
    background: #00a85a;
}

.btn-comecar-rima {
    left: 200px;
}

.btn-comecar-cartas {
    right: 200px;
}

.livro.cartas .btn-comecar-cartas {
    display: block;
}

.livro.cartas .btn-comecar-rima {
    display: none;
}

.seta {
    position: absolute;
    top: 50%;
    right: -40px;
    transform: translateY(-50%);
    width: 70px;
    cursor: pointer;
    transition: 0.2s;
}

.seta:hover {
    transform: translateY(-50%) scale(1.05);
}

.livro.cartas .seta {
    left: -40px;
    right: auto;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.3s ease;
}
