<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/about.css}">
    <link rel="stylesheet" th:href="@{/css/plan.css}">

    <title>Rima Jam - Página Inicial</title>
</head>

<body>
<header>
    <nav>
        <div class="nav-bar">
            <span class="logo"><a href="#">Rima Jam</a></span>

            <div class="menu">
                <ul class="nav-links">
                    <li class="nav-item active"><a href="#home">Início</a></li>
                    <li class="nav-item"><a href="#about">Sobre</a></li>
                    <li class="nav-item"><a href="#plan">Planos</a></li>
                </ul>
            </div>

            <a th:href="@{/login}" class="btn-login">Entrar</a>

        </div>
    </nav>
</header>

<main id="content">
    <section id="home">
        <div id="cta">
            <h1 class="title">
                Transforme suas aulas em momentos de
                <span class="grifa">diversão</span> e <span class="grifa">aprendizado</span>!
            </h1>

            <p class="description">
                <br>
                Rima Jam transforma o aprendizado em diversão!<br><br>
                Professores encontram minijogos de português criativos para
                o 3º ano do fundamental, feitos para estimular a curiosidade
                e o raciocínio dos alunos.<br><br>
                Aprender nunca foi tão leve e interativo!<br><br>
            </p>

            <div id="cta_button">
                <a th:href="@{/teacher/cadastro}" class="btn-signin">Cadastre-se</a>
            </div>
        </div>

        <div id="cta_banner">
            <img th:src="@{/img/banner/banner-cta2.jpg}" alt="banner cta">
        </div>
    </section>

    <section id="about">
        <div id="about_img">
            <img th:src="@{/img/banner/banner-about.jpg}" alt="">
        </div>

        <div class="about_text">
            <h1>Sobre o <span class="text_matcha">Rima</span> <span class="text_tangerine">Jam</span></h1>
            <ul>
                <li>A Rima Jam nasceu com o objetivo de transformar o ensino em uma experiência mais <span class="grifa_sea">leve e divertida</span>.</li>
                <li>Oferece minijogos educativos que reforçam o aprendizado do 3º ano de forma <span class="grifa_tangerine">interativa</span>.</li>
                <li>Foi pensada para professores que buscam novas formas de <span class="grifa_blush">engajar</span> seus alunos em sala de aula.</li>
                <li>Unindo tecnologia e criatividade, ajuda crianças a aprenderem <span class="grifa_matcha">brincando</span>.</li>
            </ul>
        </div>
    </section>

    <section id="plan">
    
        <h1 class="plan-title">Conheça nossos planos</h1>
        
        <div id="plans" class="plan-options-container"> 
    
            <label class="plan-option">
                <input type="radio" name="plano" value="mensal">
                <div class="plan-box">
                    <h4>Mensal</h4>
                    <span class="price">R$ 99,99/mês</span>
                </div>
                <p class="plan-info">Ideal para experimentar a plataforma.</p>
            </label>

            <label class="plan-option">
                <input type="radio" name="plano" value="semestral">
                <div class="plan-box">
                    <h4>Semestral</h4>
                    <span class="price">R$ 69,99/mês</span>
                </div>
                <p class="plan-info">Equilíbrio entre flexibilidade e acompanhamento contínuo.</p>
            </label>

            <label class="plan-option">
                <input type="radio" name="plano" value="anual">
                <div class="plan-box">
                    <h4>Anual</h4>
                    <span class="price">R$ 49,99/mês</span>
                </div>
                <p class="plan-info">Opção mais completa, com acesso por 12 meses e recursos completos.</p>
            </label>
            
        </div>
    </section>


</main>
</body>
</html>